@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* *{
    margin: 0;
} */
/* Header Background */
header {
    background: linear-gradient(1.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 100) 500%);
    margin-bottom: -40px;
}

/* Main Section */
main {
    background-color: black;
    /* margin-top: 100px; */
}

/* Shared Style */
.display-flex {
    display: flex;
}

.text-grey {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}

.exercise-headings {
    max-width: 671px;
}

.btn-primary {
    /* Button */
    color: rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    box-shadow: none;
    font-size: 18px;
}


.btn-primary-black {
    border: 1px solid white;
    color: white;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(0, 0, 0);
    box-shadow: none;
    font-size: 18px;
}

.btn-container {
    display: flex;
}


/* Header - Nav, Banner Alignment code */
.nav-bar,
.banner {
    max-width: 1060px;
    width: 73%;
    margin: 0 auto;
}

/* Nav - bar */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    color: rgb(230, 83, 60);

    font-weight: 800;
    font-size: 36px;


}

/* Nav-bar UL */
.nav-links {
    list-style: none;
    padding-left: 0;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.link {
    padding: 8px 20px;
}


.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.colored-link {
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

/* Hamburger icon */
.hamburger {
    display: none;
    color: white;
    font-size: 40px;
}

/* Banner styles */
.banner {
    gap: 87px;
}

.banner-section {
    max-width: 528px;
}

.banner-heading {
    color: white;
    font-size: 78px;
    font-weight: 900px;
    margin-bottom: 28px;

}

.banner-description {
    margin-bottom: 28px;
}

.banner-img-btn-1 {

    /* transform: translateY(-400px); */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;

}

.banner-img-btn-1 span {
    color: rgb(255, 255, 255);

    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
    font-size: 30.24px;

}

.banner-img-btn-2 {

    transform: translate(140px, -30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    box-sizing: border-box;

}

.banner-img-btn-2 span {
    color: rgb(255, 255, 255);

    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
    font-size: 30.24px;
}

.banner button {
    margin-right: 14px;

}

.banner img {
    transform: translate(150px, -37px)
}



/* Habit Section */

.habit-margin {
    padding-top: 100px;
}

.habits-section {
    padding: 40px 0 100px 0;
    color: white;
    max-width: 1044px;
    margin: 0 auto;

}

.habit-headings {
    max-width: 671px;
    margin: 0 auto;
    height: 128px;
    text-align: center;
}

.habit-headtag {
    font-size: 3.0rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);

}


.habit-card-containers {
    display: grid;
    padding-top: 120px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 20px;
}

.habit-card {
    text-align: center;
    max-width: 231px;

}

.habit-card img {
    border-radius: 50%;
}

/* Extra Mile section */
.extra-mile {
    max-width: 1044px;
    margin: 0 auto 100px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
    border-radius: 18px;
}

.extra-headings {
    max-width: 443px;
    margin: 41px auto 41px 54px;
}

.extra-headings h3 {
    color: white;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 14px;
}

.extra-headings p {
    margin-bottom: 34px;
}

.extra-img-container {
    max-width: 366px;
    height: 322px;
    margin: 41px 32px 41px auto;
}

.extra-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

/* BMI Calc Headings */
.bmi-calculator-headings {
    max-width: 671px;
    margin: 88px auto;
    /* padding-bottom: 88px; */
    text-align: start;
}

.bmi-mid-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bmi-calculator-headings h3 {
    font-size: 3rem;
    font-weight: 900px;
    margin-bottom: 14px;
}

.bmi-calculator {
    background: rgb(34, 34, 34);

}

.bmi-calculator h3 {

    color: white;
    font-size: 1.75rem;
    font-weight: 900px;
    margin-bottom: 14px;
}

.bmi-calculator p {
    margin-bottom: 34px;
}

.chart h3 {
    margin-bottom: 52px;
}

table {
    border-collapse: collapse;
    width: 310px;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: start;
    padding: 10px 20px;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 500px;
    text-align: start;
    color: white;
    padding: 10px 20px;
}


.form-container {
    max-width: 577px;
    padding-bottom: 52px;
}

.form-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.form-1 input {
    font-size: 16px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.form-2 {
    margin-top: 12px;
    display: flex;
}

.form-2 input {
    flex: 1;
    font-size: 16px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

/* Team Section */

.team-headings {
    max-width: 671px;
    margin: 88px auto 58px;

}

.team-headings h3 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.team-headings p {
    text-align: center;
}

.team-container {
    max-width: 1044px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);

}

.img-cardd {
    border-radius: 18px;
    height: 300px;
}

.img-cardd span {
    padding-left: 10px;
    color: white;
    height: 270px;
    display: flex;
    align-items: end;
}

.img-card-1 {
    background-image: url(/images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.img-card-2 {
    background-image: url(/images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-card-3 {
    background-image: url(/images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.img-card-4 {
    background-image: url(/images/trainer4.png);
    background-repeat: no-repeat;
    background-size: calc(160%);
    background-position: center;
}

.img-card-5 {
    background-image: url(/images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-card-6 {
    background-image: url(/images/trainer6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}


@media screen and (max-width:576px) {


    .nav-bar {
        margin-bottom: -50px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .btn-container {
        margin-bottom: -50px;
    }

    .banner-heading {
        font-size: 3.5rem;
    }

    .banner img {
        transform: translate(-10px, -37px);
    }

    .btn-container {
        display: flex;
    }


    .banner {
        flex-direction: column;
    }


    .nav-links {
        display: none;
    }

    .habit-headings {
        max-width: 320px;
    }

    .habits-section {
        padding: 5px 0 0 0;
    }

    .habit-card-containers {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    .extra-mile {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .extra-headings {
        text-align: start;
        margin: 0px 33px 31px 33px;
    }

    .extra-img-container {
        margin: auto 33px 31px 33px;
    }

    .extra-headings-btn {
        width: 100%;
    }

    .bmi-mid-container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bmi-calculator-headings {
        margin-top: -50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .chart h3 {
        margin-bottom: 23px;
    }


    .form-container {
        max-width: 577px;
        padding-bottom: 52px;
    }

    .form-1 {
        display: grid;
        grid-template-columns: repeat(2, 48.5%);
        gap: 12px;
    }

    .form-1 input {
        font-size: 16px;
        height: 48px;
        padding: 12px 20px 12px 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
    }

    .form-2 {
        margin-top: 12px;
        display: flex;
    }

    .form-2 input {
        flex: 1;
        font-size: 16px;
        height: 48px;
        padding: 12px 20px 12px 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
    }

    .team-container {
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: repeat(1, 1fr);

    }

    .img-card-1 {
        display: none;
    }

    .img-card-4 {
        display: none;
    }
}